<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342517645041-7ku30urfaqho8t5r033ogal8sqh13o6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342517645041-7ku30urfaqho8t5r033ogal8sqh13o6j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342517645041-0hbk429vsrbant925tmese3c7k59k350.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWWq8P2d1ku01XnYA47LIEUdxtjyT03Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>342517645041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maineApp</string>
	<key>PROJECT_ID</key>
	<string>maineapp-438a7</string>
	<key>STORAGE_BUCKET</key>
	<string>maineapp-438a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342517645041:ios:a7e59a110a3b2d1fe7f350</string>
</dict>
</plist>